.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo {
    width: 150px;
    height: 150px;
}

.nav-items > ul {
    display: flex;
    font-size: 20px;
}

.nav-items > ul > li {
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
}

.res-card {
  background: #f8f8f8;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 360px;
}

.res-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 1px solid black;
    cursor: pointer;
}

.search {
    padding: 10px;
}

.res-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.res-card h3 {
  margin: 10px 0 5px;
}

.res-card h4 {
  margin: 4px 0;
  font-weight: 500;
}

.res-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px;
}